In [57]:


from dw import DW
import extract
import transform
import load
from transform import *
%load_ext autoreload


%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [75]:
data = extract.extract()

c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:57: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["flights"] = pd.read_sql(
c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:73: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["maintenance"] = pd.read_sql(
c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:90: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["techlog"] = pd.read_sql(

In [76]:
data['airports']

KeyError: 'airports'

---

In [73]:
transformed_data = transform(data)

In [74]:
transformed_data['aircraft']

---

In [38]:
flights_df = data["flights"]


transformed_flights = transform_flights(flights_df)

In [39]:
transformed_flights

,date,aircraftregistration,flight_hours,takeoffs,delays,cancellations,delayed_minutes
0,2023-1-1,XY-ACK,3.0,2,0,0,0.0
1,2023-1-1,XY-AIX,2.0,1,0,0,0.0
2,2023-1-1,XY-ALM,5.0,3,0,0,0.0
3,2023-1-1,XY-ANY,0.0,0,0,1,0.0
4,2023-1-1,XY-ATP,2.0,2,1,0,94.0
...,...,...,...,...,...,...,...
39635,2024-9-9,XY-XDL,3.0,1,0,0,0.0
39636,2024-9-9,XY-XWO,7.0,2,1,0,116.0
39637,2024-9-9,XY-YIJ,3.0,2,0,0,0.0
39638,2024-9-9,XY-ZHY,2.0,1,1,0,50.0
39639,2024-9-9,XY-ZLE,7.0,3,0,0,0.0