In [1]:


from dw import DW
import extract
import transform
import load
from transform import *
%load_ext autoreload


%autoreload 2

In [3]:
data = extract.extract()

c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:57: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["flights"] = pd.read_sql(
c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:73: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["maintenance"] = pd.read_sql(
c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:89: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["reports"] = pd.read_sql(

In [4]:
flights_df = data["flights"]

In [ ]:
# In calculate_flight_attributes
print(flights_df.isna().sum())

aircraftregistration       0
cancelled                  0
actualdeparture         4659
actualarrival           4659
scheduleddeparture         0
scheduledarrival           0
dtype: int64

In [7]:
flights_df[flights_df["actualdeparture"].isna()]

,aircraftregistration,cancelled,actualdeparture,actualarrival,scheduleddeparture,scheduledarrival
14,XY-ACK,True,NaT,NaT,2023-02-24 11:52:50,2023-02-24 14:52:50
16,XY-ACK,True,NaT,NaT,2023-02-25 20:28:50,2023-02-26 00:28:50
32,XY-ACK,True,NaT,NaT,2023-05-05 07:18:53,2023-05-05 08:18:53
42,XY-ACK,True,NaT,NaT,2023-05-11 16:50:29,2023-05-11 17:50:29
51,XY-ACK,True,NaT,NaT,2023-07-17 15:56:27,2023-07-17 16:56:27
...,...,...,...,...,...,...
69023,XY-ZZC,True,NaT,NaT,2024-04-15 04:52:38,2024-04-15 06:52:38
69054,XY-ZZC,True,NaT,NaT,2024-10-09 19:19:39,2024-10-09 20:19:39
69067,XY-ZZC,True,NaT,NaT,2024-10-21 07:05:15,2024-10-21 10:05:15
69076,XY-ZZC,True,NaT,NaT,2024-10-29 10:15:24,2024-10-29 13:15:24
69083,XY-ZZC,True,NaT,NaT,2024-12-18 18:18:54,2024-12-18 23:18:54

---

In [73]:
transformed_data = transform(data)

In [74]:
transformed_data['aircraft']

---

In [38]:
flights_df = data["flights"]


transformed_flights = transform_flights(flights_df)

In [39]:
transformed_flights

,date,aircraftregistration,flight_hours,takeoffs,delays,cancellations,delayed_minutes
0,2023-1-1,XY-ACK,3.0,2,0,0,0.0
1,2023-1-1,XY-AIX,2.0,1,0,0,0.0
2,2023-1-1,XY-ALM,5.0,3,0,0,0.0
3,2023-1-1,XY-ANY,0.0,0,0,1,0.0
4,2023-1-1,XY-ATP,2.0,2,1,0,94.0
...,...,...,...,...,...,...,...
39635,2024-9-9,XY-XDL,3.0,1,0,0,0.0
39636,2024-9-9,XY-XWO,7.0,2,1,0,116.0
39637,2024-9-9,XY-YIJ,3.0,2,0,0,0.0
39638,2024-9-9,XY-ZHY,2.0,1,1,0,50.0
39639,2024-9-9,XY-ZLE,7.0,3,0,0,0.0