In [1]:


from dw import DW
import extract
import transform
import load
%load_ext autoreload


%autoreload 2

In [8]:
data = extract.extract()

c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:57: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["flights"] = pd.read_sql(
c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:73: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["maintenance"] = pd.read_sql(
c:\Users\corba\OneDrive\Escritorio\linux\dades\bda\BDA_proj1\extract.py:89: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  extracted_data["techlog"] = pd.read_sql(

In [11]:
data['flights']

,aircraftregistration,CN,date,flighthours,takeoffs,DELAY,DY,sumdelay
0,XY-ACK,False,2023-1-1,1.0,1,0.0,0.0,0.0
1,XY-ACK,False,2023-1-1,2.0,1,0.0,0.0,0.0
2,XY-ACK,False,2023-1-2,4.0,1,0.0,0.0,0.0
3,XY-ACK,False,2023-2-17,3.0,1,0.0,0.0,0.0
4,XY-ACK,False,2023-2-18,2.0,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
69090,XY-ZZC,False,2024-12-24,2.0,1,0.0,0.0,0.0
69091,XY-ZZC,False,2024-12-26,3.0,1,0.0,0.0,0.0
69092,XY-ZZC,False,2024-12-27,3.0,1,0.0,0.0,0.0
69093,XY-ZZC,False,2024-12-29,1.0,1,0.0,0.0,0.0
69094,XY-ZZC,False,2024-12-30,2.0,1,0.0,0.0,0.0

In [ ]:
data_transformed = transform.transform(data)

In [10]:
data_transformed['daily_aircraft']

,aircraftregistration,reporteurclass,reporteurid,date,pilotreports,maintenancereports,flight_hours,takeoffs,delays,cancellations,delayed_minutes,ADOSS,ADOSU
0,XY-ACK,MAREP,4247,2023-1-7,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XY-ACK,MAREP,836,2023-5-26,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XY-ACK,PIREP,4446,2023-1-29,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,XY-ACK,PIREP,3949,2023-1-10,1,0,NaN,NaN,NaN,NaN,NaN,-0.041667,-0.166667
4,XY-ACK,MAREP,5988,2023-1-22,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147844,XY-ZZC,PIREP,1179,2025-2-10,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147845,XY-ZZC,PIREP,2141,2025-1-4,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147846,XY-ZZC,MAREP,4727,2024-12-31,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147847,XY-ZZC,PIREP,4380,2025-1-22,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147848,XY-ZZC,MAREP,5413,2025-4-11,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN